.App {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../src/images/plants_bg.png');
  background-color: #f3f1db;
  opacity: 0.9;

}
.fill-form{
  display: flex;
  align-items: center;
  padding: 40px 40px 40px 40px;
  background-color: rgba(243, 241, 219, 0.6);
  width: 30%;
  min-width: 400px;
}

.main-view {
  background-color: rgba(243, 241, 219, 0.4);
  width: 90%;
}

.data-box{
  background-color: rgba(243, 241, 219, 0.8);
  width: 400px;
  margin: 20px;
  padding: 5px;

}

.message{
  background-color: rgba(243, 241, 219, 0.8);
  width: 840px;
  margin: 20px;
  padding: 5px;
}

@media (max-width:600px) {
  .main-view {
    flex-basis: calc(50% - 12px);
  }
}

.data-box-label{
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 2em;
}

.data-box-current{
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}
